<div class="bg-white mt-2 h-100 p-2">
    <table class="container-fluid">
        <thead>
            <tr class="fw-bold">
                <td>Id</td>
                <td>Categoy NAme Name</td>
                <td>Product Description</td>
              

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of category">
              
                <td>{{value?.category_id}}</td>
                <td>{{value?.category_name}}</td>
                <td>{{value?.category_description}}</td>
             

            </tr>
        </tbody>
    </table>
</div>
