<div class="p-3 bg-light h-100 border-end border-gray">
    <h1>LOGO</h1>
    <ul class="d-flex flex-column">
        <li class="mb-2"><a routerLink="dashboard" class="text-dark text-decoration-none">dashboard</a></li>
        <li class="mb-2"><a routerLink="product" routerLinkActive="active" class="text-dark text-decoration-none">Products</a></li>
        <li class="mb-2"><a routerLink="category" routerLinkActive="active" class="text-dark text-decoration-none">Category</a></li>
        <li class="mb-2"><a routerLink="order" routerLinkActive="active" class="text-dark text-decoration-none">Orders</a></li>
        <li class="mb-2"><a routerLink="about" routerLinkActive="active" class="text-dark text-decoration-none">About</a></li>

        <li class="mb-2"><a routerLink="/auth/login" class="text-dark text-decoration-none">Login</a></li>
    </ul>
</div>
