<div class="p-3 bg-light h-100 border-end border-gray">
    <h1>LOGO</h1>
    <ul class="d-flex flex-column" *ngIf="isSuperadmin()">
        <li class="mb-2"><a routerLink="superadmin/dashboard" class="text-dark text-decoration-none">dashboard</a></li>
        <li class="mb-2"><a routerLink="superadmin/product" routerLinkActive="active" class="text-dark text-decoration-none">Products</a></li>
        <li class="mb-2"><a routerLink="superadmin/category" routerLinkActive="active" class="text-dark text-decoration-none">Category</a></li>
        <li class="mb-2"><a routerLink="superadmin/order" routerLinkActive="active" class="text-dark text-decoration-none">Orders</a></li>
        <li class="mb-2"><a routerLink="superadmin/about" routerLinkActive="active" class="text-dark text-decoration-none">About</a></li>

        <li class="mb-2"><a routerLink="/auth/login" class="text-dark text-decoration-none">Login</a></li>
    </ul>


    <ul class="d-flex flex-column" *ngIf="isAdmin()">
        <li class="mb-2"><a routerLink="admin/dashboard" class="text-dark text-decoration-none">dashboard</a></li>
        <li class="mb-2"><a routerLink="admin/product" routerLinkActive="active" class="text-dark text-decoration-none">Products</a></li>
     
        <li class="mb-2"><a routerLink="/auth/login" class="text-dark text-decoration-none">Login</a></li>
    </ul>



    <ul class="d-flex flex-column" *ngIf="isExceutive()">
        <li class="mb-2"><a routerLink="exceutive/dashboard" class="text-dark text-decoration-none">dashboard</a></li>
     

        <li class="mb-2"><a routerLink="/auth/login" class="text-dark text-decoration-none">Login</a></li>
    </ul>
</div>
