<div class="bg-white mt-2 h-100 p-2">
    <table class="container-fluid">
        <thead>
            <tr class="fw-bold">
                <td>Id</td>
                <td>Subcategory Name</td>
                <td>Subcategory Description</td>
                <td>category Id</td>


            </tr>
        </thead>
        <tbody>
            <app-loading></app-loading>
            <tr *ngFor="let value of subcategoryList" >
                <td>{{value?.subcategory_id}}</td>
                <td>{{value?.subcategory_name}}</td>
                <td>{{value?.subcategory_description}}</td>
                <td>{{value?.category_id}}</td>
                


            </tr>
        </tbody>
    </table>
</div>
