<div class="bg-white mt-2 h-100 p-2">
    <table class="container-fluid">
        <thead>
            <tr class="fw-bold">
                <td>Id</td>
                <td>Product Name</td>
                <td>Product Description</td>
                <td>Product Price</td>
                <td>Subcategory</td>
                <td>Category</td>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of products">
                <td>1</td>
                <td>{{value?.product_name}}</td>
                <td>{{value?.product_description}}</td>
                <td>{{value?.product_price}}</td>
                <td>{{value?.product_subcategory}}</td>
                <td>{{value?.product_category}}</td>


            </tr>
        </tbody>
    </table>
</div>
